package %PACKAGE%;

import com.badlogic.gdx.Gdx;
import com.badlogic.gdx.Input.Keys;

import %PACKAGE%.GameState.State;
import io.anuke.ucore.core.Inputs;
import io.anuke.ucore.core.KeyBinds;
import io.anuke.ucore.core.Settings;
import io.anuke.ucore.entities.Entities;
import io.anuke.ucore.graphics.Atlas;
import io.anuke.ucore.modules.RendererModule;

public class Control extends RendererModule{
	
	public Control(){
		atlas = new Atlas("sprites.atlas");
	
		KeyBinds.defaults(
			"up", Keys.W,
			"left", Keys.A,
			"down", Keys.S,
			"right", Keys.D,
			"pause", Keys.ESCAPE
		);
		
		Settings.loadAll("%PACKAGE%");

		Entities.initPhysics();
		
		EffectLoader.load();
	
	}
	
	public void reset(){
		//TODO reset code
	}
	
	@Override
	public void update(){
		
		//TODO remove
		if(Inputs.keyDown(Keys.ESCAPE))
			Gdx.app.exit();
		
		
		if(GameState.is(State.playing)){
			setCamera(0, 0);
			
			if(Inputs.keyUp("pause")){
				GameState.set(State.paused);
				Vars.ui.showPaused();
			}
		}else if(GameState.is(State.paused)){
			if(Inputs.keyUp("pause")){
				GameState.set(State.playing);
				Vars.ui.hidePaused();
			}
		}
		
		Entities.update();
		drawDefault();
	}
	
	@Override
	public void draw(){
		Entities.draw();
	}
	
	@Override
	public void resize(){
		Entities.resizeTree(-screen.x/2f, -screen.y/2f, screen.x, screen.y);
	}
}
